img{
    width:300px;
    height:300px;
}

body{
    background-color: yellow;
}

@media screen and (min-width:0px) and (max-width:400px) {
    body{
        background-color: red;
    }
    img{
        width:auto;
    }
}
@media screen and (min-width:401px) and (max-width:800px) {
    body{
        background-color: rgb(81, 255, 0);
    }
    img{
        width:auto;
    }
}
@media screen and (min-width:801px) and (max-width:1200px) {
    body{
        background-color: rgb(0, 26, 255);
    }
    img{
        width:auto;
    }
}