html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.colunaCartao{
    float:left;
    width: 25%;
    margin-bottom: 15px;
    padding: 0 8px;
}

@media screen and (max-width: 800px){
    .colunaCartao{
        width: 100%;
        display: block;
    }
}

.cartao{    
    box-shadow: 0 4px 8px 0 rgba(136, 122, 122, 0.267); 
    border-radius: 30px;
    border: rgb(65, 61, 61) solid 1px;
    background-color: rgb(9, 186, 245);
}

.cartao img{
    width:80%;
    height: 200px;
    margin: 30px;
    border-radius: 10px;
}

.textoCartao{
    padding: 0 16px;
    padding-bottom: 8px;
}

.textoCartao::after, .linhaCartao::after{
    content: "";
    clear: both;
    display: table;
}

.titulo{
    color:rgb(13, 13, 14);
    text-align: center;
}

.botao{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.botao:hover{
    background-color: #444;
}


