#img{
    margin:20px 0px 20px 80px;
    width:300px;
    height: 300px;
}

#fundo{
    width:100%;
    height:100%;
    opacity: 0.85;
    border-radius: 20px;
}

#txt{
    margin:20px 80px 20px 0px;
    width:400px;
    height: 600px;
    border:rgb(34, 178, 99) solid 1px;
    border-radius: 20px;
    background-color: rgb(82, 238, 238);
}

.container{
    display:flex;
    justify-content: space-around;
}

#result{
    margin-left: 15px;
    width:90%;
    height:40px;
    border-bottom:rgb(34, 178, 99) solid 2px;
    color:black;
    font-size: 30pt;
}

.conteudo{
    text-align: center;
}

.btn{
    width:90px;
    height: 30px;
    border: none;
    background-color: rgb(34, 179, 99);
    color:black;
    font-size: 20pt;
    border-radius: 20px;
}

.btn:hover{
    background-color: honeydew;
}